/* Common */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#about-me, #skills, #works {
  margin: 70px 0;
  border-top: 1px #aaa solid;
}

#about-me h2, #skills h2,#works h2 {
  text-align: center;
}


/* Header */

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #aaa;
}

#logo {
  border: 2px solid white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; 
  font-size: 1.5em;
  transition: all .3s;
}

#logo:hover {
  color: black;
  border: 2px solid black;

}

#logo p {
  margin: 0;
}


#hamburger {
  cursor: pointer;
  font-size: 2.5em; /* Change hamburger size */
  color: white;
  /* Your hamburger styles here */
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; /* Change navbar to full width */
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%); /* Initially hide the navbar */
}

.navbar.open {
  transform: translateX(0); /* Show the navbar when open */
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin-bottom: 1em; /* Increase space between links */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 3em; /* Increase link size */
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 2em; /* Increase close button size */
}

/* Main */
main {
  padding: 20px;
}
